<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>Za2M1vzP4qzoczsB2IwfUsve8</string>
	<key>consumer_Secret</key>
	<string>jbCV4gu0ODDcvetS6AtPBbTYoZ2CHzRmPbs7rU08mSJUzrMc1Q</string>
</dict>
</plist>
